@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body {
	background-color: #c7c7c7;	 
}

.div-navbar {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: flex;
    align-items: center;
}

p {
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.aviao {
    width: 70px;
}

nav li {
	display: inline;
	margin: 0 20px 0 0;
}

.links {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-family: 'Merriweather', serif;
	top: 110px;
	right: 0;
}

.fieldset {
    margin: 20px auto;
    text-align: center;
}

.opcoes {
    font-family: 'Merriweather', serif;
}

.escolha-veiculo {
    font-size: larger;
    margin-bottom: 5px;
    font-family: 'Merriweather', serif;
}

form {
    display: grid;
    margin-top: 30px;
    justify-items: start;
    justify-content: center;
}

.identificacao {
    font-size: 25px;
    text-align: center;
    margin: 15px 0 10px;
    font-family: 'Merriweather', serif;
}

#partida {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}

#chegada {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.copyright {
    color: #000000;
    background-color: #b1b1b1;
    padding: 24px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (min-width: 468px) and (max-width: 1024px){
    .copyright {
        color: #000000;
        background-color: #b1b1b1;
        padding: 16px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 1rem;
        font-weight: 700;
    }
}

@media (max-width: 468px) {
    .links {
        font-size: 15px;
        color: #000000;
        text-decoration: none;
        font-family: 'Merriweather', serif;
        top: 110px;
        right: 0;
    }

    p {
        font-size: 15px;
        font-family: 'Merriweather', serif;
    }

    .identificacao {
        font-size: 20px;
        text-align: center;
        margin: 15px 0 10px;
        font-family: 'Merriweather', serif;
    }

    .copyright {
        color: #000000;
        background-color: #b1b1b1;
        padding: 16px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 12px;
        font-weight: 700;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}