body{
    background-color: #c7c7c7;
}

h1 {
    margin-top: 15px;
    font-size: 20px;
}

.aviao {
    width: 60px;
}

.rotas {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

form {
    display: grid;
}

.identificacao {
    font-size: 25px;
    text-align: center;
    margin: 15px 0 10px;
}

#nomesobrenome {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

#email {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

#Telefone {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

#mensagem {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.fieldset {
    margin: 10px auto;
}

.escolha-veiculo {
    font-size: larger;
    text-align: center;
    margin: 10px 0 5px;
}

.div-botao {
    margin: 0 auto;
}

.botao-enviar {
    background-color: orangered;
    width: 150px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    transition: 1s;
    height: 30px;
    margin-top: 5px;
}

.botao-enviar:hover {
    padding: 3px;
    width: 170px;
}